/* override background color for non-accessibility themes */
html:not(.sapUiTheme-sap_hcb):not(.sapUiTheme-sap_hcw) .customBackground section {
	background-color: #bad0e3;
}

.ui5overviewoData.welcomePrice  {
	width: 100%;
	padding: 0;
	border-bottom-width: 0;
}

.ui5overviewoData.welcomeText {
	display: block;
	padding-top: 1rem;
	font-size: 1.5rem;
	font-weight: bold;
}

/* override background color for non-accessibility themes */
html:not(.sapUiTheme-sap_hcb):not(.sapUiTheme-sap_hcw) .ui5overviewoData .welcomeText {
	background-color: rgba(255,255,255,0.5);
}

.ui5overviewoData .welcomeCarouselText {
	color: white;
	display: block;
	position: fixed;
	bottom: 0;
	padding: 1rem;
	font-size: 1.5rem;
	width: 100%;
	text-shadow: 0 0 0.125rem #000000;
}